.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

