.creationForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.danger {
    border: red 1px solid;
}

.img-pequeña{
    width: 88px;
    height: 50px;
  }
.img-mediana{
    width: 177px;
    height: 100px;
  }
.img-grande{
    width: 284px;
    height: 160px;
  }